// =media
$mobile = 576px
$tablet = 768px
$desktop = 992px
$wide = 1200px

// =container
$mobile-c = 540px
$tablet-c = 720px
$desktop-c = 960px
$wide-c = 1140px

// =sizing
$unit = 20px
$base = 14px
$font14 = 14px
$font13 = 13px
$font12 = 12px
$font11 = 11px
$lh = 1.7142857143

// =colors
$heading = #212630
$heading-faded = rgba(#212630, 0.6)
$body = #4a4a4a
$sub = #979797

$red = #ff2f1f
$blue = #4883FF
$darkblue = #2c68b7
$skyblue = #f4f8fe
$mint = #e1f3f6
$lightgreen = #e9f5dd
$green = #35d784
$softblue = rgba(#286aff, 0.4)
$softnavy = rgba(#2168c9, 0.6)
$softpurple = #f2f1f7
$softyellow = rgba(#ffb500, 0.3)
$softred = rgba(#ff432e, 0.7)
$grey-00 = #f9fafc
$grey-01 = #eff2f7
$grey-04 = #273444
$grey-05 = #1d2b3c
$white = #ffffff
$border = #d6d9de
$border-focus = #9ad8e3
$btn = #2d3744
$pd = 10px

$bg-skyblue = #f7faff
$bg-green = #e9f5dd
$bg-grey = #f8f9fc
$bg-lightgrey = #f9fafc
$bg-purple = #f2f1f7

// =font
$spoqa = 'SpoqaHanSans', sans-serif
$mont = 'Montserrat', sans-serif
$lato = 'Lato', sans-serif
$batang = 'KoPub Batang'

// =box-shadow
$shadow =  0 2px 20px rgba(#b3b2b3, 0.1)
$darkshadow =  0 2px 20px rgba(#3269C5, 0.25)

// =font-size
$ui-l = 14px
$ui-m = 13px
$ui-s = 12px
$ui-xs = 11px