.topbar
  pos(fixed)
  t()
  l()
  w()
  h(50px)
  z-index: 1000
  border-bottom: 1px solid $border
  bg(url(../../assets/logo@2x.jpg))
  bgc($white)
  bgs(120px auto)
  +afterTablet()
    h(60px)
    bgs(140px auto)


