.user__img
  inblock()
  center()
  w(50px)
  h(50px)
  mr($base)
  border-radius: 1000px
  overflow: hidden
  bgc($white)
  img
    w()
    h(auto)

.user__info
  pos()
  fs(14px)
  fw(400)
  lh(20px)
  span
    block()
    fs(11px)
    color: $sub